body
{
  color: black;
  background: yellow;
}
span
{
  font-size: 20px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_hand_gesture ,#result_hand_gesture2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}
.heading{
  letter-spacing: 10px;
  font-size: 18px;
  border-radius: 10px;
}
label{
  font-size: 14px;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}

